/* Default Settings  */

/* Font Settings  */

h1 {
    font-size: 54px;
    line-height: 64px;
}

h2 {
    font-size: 48px;
    line-height: 58px;
}

h3 {
    font-size: 42px;
    line-height: 52px;
}

h4 {
    font-size: 32px;
    line-height: 42px;
}

h5 {
    font-size: 24px;
    line-height: 34px;
}

h6 {
    font-size: 20px;
    line-height: 30px;
}

p {
    font-size: 18px;
    line-height: 22px;
}

a {
    text-decoration: none;
}



#section_button {
    display: flex;
    justify-content: center;
}

#main_button {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.highlight {
    color: var(--primary-color);
}

img {
    max-width: 100%;
}

input[type=text]:focus {
    border: 3px solid var(--primary-color) !important;
    outline: none;
}

.display {
    font-style: 64px;
    font-weight: 700;
}

/* Color Settings  */

:root {
    --primary-color: #5CAD2F;
    --secondary-color: #0F172A;
    --primary-light-color: #EFF5E5;
    --light-color: #E5F9F3;
    --p-color: #E5F9F3;
}

/* Design Settings  */



/* Nav Settings  */
.collapse.navbar-collapse {
    gap: 25px;
}

.nav-item a {
    color: var(--light-color);
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
}

.nav-item a:hover {
    color: var(--primary-color);

}

.nav_pages {
    padding-top: 25px;
}


/* Hero Settings */

.hero-area {
    background-image: url(../img/hero-bgm.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
    min-height: 700px;
}

.hero-area-overlay {
    background-color: black;
    opacity: 90%;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* Banner Text  */
.banner_logo {
    padding: 10px 0;
}

.banner_area {
    padding: 100px 0;
}

.banner_text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-light-color);
    text-transform: capitalize;
}

.banner_text h1 {
    padding: 20px 0;
    line-height: 54px;
}

.banner_search {
    font-size: 18px;
    line-height: 22px;
    padding: 10px 20px;
    padding-right: 80px;
    border-radius: 5px;
    border: 3px solid var(--p-color) !important;
}

.banner_search {
    margin-right: 4px;
}

.places ul li {
    list-style: none;
    margin-top: 20px;
}

.places ul li a {
    color: var(--secondary-color);
    background-color: #fff;
    padding: 10px 12px;
    font-size: 14px;
    border-radius: 5px;
}

.places_list {
    padding-left: 0 !important;
    gap: 12px;
}



/* Services Section  */
.service_main {
    background-image: url(../img/service-section-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin-top: 200px;
}

.single_service {
    position: relative;
    z-index: 1;
    padding: 40px;
    margin: 40px;
    width: 300px;
    margin-top: 40px;
}

.service_card_left {
    background-image: url(../img/rectangle-left.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 500px;
    height: 500px;
    top: -80px;
    left: -100px;
    z-index: -1;
}

.service_card_right {
    background-image: url(../img/rectangle-right.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 500px;
    height: 500px;
    top: -90px;
    right: -100px;
    z-index: -1;
}

/* Parking Place Section */

.counter_section {
    background-color: var(--secondary-color);
    padding: 40px;
    border-radius: 2px 70px 2px 70px;
}